body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #fff;
}

.App {
  text-align: center;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  padding: 1rem 1rem;
  color: white;
}

.header-title {
  margin: 0;
  font-size: 1.5rem;
}

.header-actions {
  display: flex;
  gap: 1rem;
}

.header-button {
  padding: 0.5rem 1rem;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  padding: 0.5rem 1rem;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background: #f40612;
}

.header-button:hover {
  background: #f40612;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #333;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background: #555;
  border-radius: 50%;
}

.user-data {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.logout-button {
  background: #e50914;
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Video Gallery */
/* Movie List */
.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.video-card {
  position: relative;
  background: #222;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 360px;
}

.video {
  width: 100%;
  height: auto;
  flex-grow: 1;
  border-bottom: 1px solid #444;
}

.movie-info {
  padding: 0.5rem;
  text-align: left;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  margin: 0.5rem 0;
}

.movie-description {
  font-size: 0.9rem;
  color: #b3b3b3;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show 3 lines */
  -webkit-box-orient: vertical;
}

.watch-now-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e50914;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.watch-now-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}


/* Forms */
.auth-page,
.upload-page {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.auth-form,
.upload-form {
  background: #333;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.input-field,
.file-input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
}
.input-field {
  margin-top: 2vmax;
}

.submit-button,
.auth-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #e50914;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: roll 1s ease-in-out infinite alternate;
}
.loader:after{
  content:"";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid ;
  border-color: #ff3d00 transparent;
}
@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg) ;
  }
  100% {
    transform:  translateX(150%) rotate(360deg);
  }
}

.movie-play-card {
  display: flex;;
  justify-content: center;
  align-items: center;
}

.video {
  width: 900px;
  height: 300px;
}